@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');

:root {
    --primary-color: #6208b1;
    --secondary-color: #E3DD6C;
    --accent1-color: #ae0808;
    --accent2-color: #1379ac;

    --heading-font: "Truculenta", sans-serif;
    --paragraph-font: "Ojuju", sans-serif;

    --nav-background-color:#b7d1ec;
    --nav-link-color:#220d7d;
    --nav-hover-link-color:#ff0004;
    --nav-hover-background-color:#fcf9fe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 5fr;
}

header nav a {
    padding: 5px 20px;
    width: 70px;
}

header img {
    justify-self: center;
}

h1 {
    position: absolute;
    font-size: 2rem;
    font-family: var(--heading-font);
    text-align: center;
    color: var(--primary-color);
}

.hero h1 {
    color: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 5px 5px 15px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: blue;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav a:hover {
    color: #ff0004;
}


body {
    font-family: var(--paragraph-font);
    padding: 20px;
    max-width: 840px;
    margin: 0;
    font-size: 16px;
}

article {
    position: absolute;
    top: 60px;
    width: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--nav-background-color);
    padding: 1rem;
}
article img {
    float:right;
    top: 180px;
    width: auto;
}

.hero {
    border: 0px;
    position: relative;
}

.hero article img {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 60%;
    height: auto;
    float: right;
    margin:1rem;
    padding:1rem;
}

.nav-bar {
    display: block;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-hover-background-color);
    border: 1px solid black;
}

.logo {
    max-width: 100%;
    align-items: center;
}

.nav-bar nav a {
    margin-left: 2rem;
    margin-right: 2rem;

}

.nav-bar nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.adventureimages {
    max-width: 100%;
    margin: 0px 5px 0px 5px;
}
.adventureimages h2 {
    text-align: center;
}

.images {
    display: flex;
    gap: 10px 0;
    align-items: center;
    justify-content: center;
}

.images .picture {
    max-width: 100%;
    margin: 0px 5px 0px 5px;
}

.images figure {
    margin-left: .25rem;
    margin-right: .25rem;
}

.history {
    display: grid;
    align-items: center;
    text-align: justify;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.history h2 {
    text-align: center;
}

.history .p1 {
    grid-column: 1;
    padding: 0.5rem;
}

.history img {
    grid-column: 2;
}

.history .p2 {
    grid-column: 3;
    padding: 0.5rem;
}

footer {
    border-top: 2px solid var(--accent1-color);
    margin-top: 1rem;
}

footer p {
    text-align: left;
}

.sociallinks {
    display: grid;
    float: right;
    max-width: 500px;
    
}

.sociallinks img {
    width: 200px;
    vertical-align: middle;
}